option_settings:
  #aws:elasticbeanstalk:container:nodejs:
    #NodeVersion: 18.x
    #ProxyServer: nginx
    #GzipCompression: true
  
  aws:elasticbeanstalk:cloudwatch:logs:
    #StreamLogs: true
    #DeleteOnTerminate: false
    RetentionInDays: 30
  
  #aws:elasticbeanstalk:logging:
    #StreamLogs: true
    #DeleteOnTerminate: false

  #aws:autoscaling:launchconfiguration:
    #SecurityGroups: sg-090fd03883c392df1
    #InstanceType: t3.micro
    
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    HealthCheckInterval: 15
    #HealthyThreshold: 3
    #UnhealthyThreshold: 5