option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 5000

  aws:elasticbeanstalk:cloudwatch:logs:
    #StreamLogs: true
    #DeleteOnTerminate: false
    RetentionInDays: 30

  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp,22,22,0.0.0.0/0

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: 20
    HealthCheckInterval: 15
    #HealthyThreshold: 2
    #UnhealthyThreshold: 3
    Port: 5000
    Protocol: HTTP
